.logo {
  background-color: #000000;
  position: relative;
}

.menu {
  background-color: #ffffff;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 10px 10px;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 18px;
}

@media (min-width: 768px) {
  .buttons {
    gap: 30px;
  }
}

@media (min-width: 1120px) {
  .wrapper {
    max-width: 1120px;
  }
  .wrapperMenu {
    padding-left: 0;
    border-bottom: 1px solid #d3d9df;
  }
}
